.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr) 3rem;
  justify-content: center;
  align-items: flex-start;
  font-family: sans-serif;
}

.sidebar-container {
  overflow-y: scroll;
  overflow: scroll;
  grid-column: 1/3;
}

.ace-editor {
  grid-column: 3/13;
}

.right-aside {
  border: solid 1px lightgrey;
}

.edit-icon {
  fill: purple;
  cursor: pointer;
  margin-left: 5px;
}
.edit-icon:hover {
  border-radius: 50%;
}

.delete-icon {
  fill: red;
  cursor: pointer;
  margin-left: 5px;
}

.ReNameModal {
  padding: 1rem;
  display: none;
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  z-index: 9999;
  top: 20%;
  left: 20%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal-header {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal-footer {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.input-rename {
  display: none;
}
.rename-input {
  display: none;
}

.ReNameModal {
}

.btn {
}

.btn.primary {
  background-color: rgba(0, 0, 255, 0.458);
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
}

.btn.secondary {
  background-color: rgba(132, 63, 3, 0.458);
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
}

.dir {
  /* font-weight: bold; */
  color: black;
  margin-left: 5px;
  padding: 5px;
  line-height: 16px;
}

.dir-heading {
  /* padding: 0.3rem; */
  border-radius: 5px;
  font-weight: bold;
}

.dir-heading:hover {
}

.icon-container {
  display: none;
}

.file {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 5px;
  font-weight: normal;
}

.file:hover {
  background-color: lightgrey;
}

.icon {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  vertical-align: middle;
}

.bi-folder-fill {
  color: blue;
}

/* .dir>span {
  display: none;
} */

.file-icon-container {
  display: none;
}
