.grid-container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  justify-content: center;
  align-items: flex-start;
  font-family: sans-serif;
}

.sidebar-container {
  /* display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: flex-start; */
  overflow-y: scroll;
  overflow: scroll;
}
/* .sidebar-container span {
  padding: 0.2rem;
  font-size: 16;
  font-family: sans-serif;
} */

.file {
  font-size: 1rem;
  width: max-content;
}

.file:hover {
  background-color: lightgrey;
}

.dir {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

.dir:hover {
  border-radius: 10px;
}

.file-actions:hover {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly; */
}

.edit-icon {
  fill: purple;
  cursor: pointer;
  margin-left: 5px;
}
.edit-icon:hover {
  border-radius: 50%;
}

.delete-icon {
  fill: red;
  cursor: pointer;
  margin-left: 5px;
}

.ReNameModal {
  display: none;
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  z-index: 9999;
  top: 20%;
  left: 20%;
  background-color: gainsboro;
}

.input-rename {
  display: none;
}
.rename-input {
  display: none;
}

.ReNameModal {
  

}

